[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask-caching = "*"
flask-wtf = "*"
flask-pymongo = "*"
flask-moment = "*"
flask-uploads = "*"
flask-materialize = "*"
flask-material = "*"
flask-login = "*"
bootstrap-flask = "*"
pillow = "*"
celery = "*"
redis = "*"
numpy = "*"
tensorflow = "*"
matplotlib = "*"

[requires]
python_version = "3.7"
