<nav class="black lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a href="{{ url_for('.index')}}" class="brand-logo">Plaste Bin</a>
        <a data-target="nav-mobile" class="sidenav-trigger button"><i class="material-icons">menu</i></a>
    </div>
</nav>


<main>
    {% block content %}{% endblock %}
</main>

<footer class="center">
    <small> &copy; 2020 <a class="blue-text link" href="" title="Written by MR.H">{{ admin.lab_title|default('MR.H LAB')}}</a>
    </small>
</footer>
