<!doctype html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} - MR.H LAB</title>
    <!-- Bootstrap CSS -->\
    <script src="{{ url_for('static', filename='/scripts/jquery-3.4.1.slim.min.js') }}"> </script>
    <script src="{{ url_for('static', filename='/scripts/popper.min.js') }}"> </script> 
    <script src="{{ url_for('static', filename='/scripts/bootstrap.min.js') }}"> </script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
 
<body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="/">MR.H LAB</a>
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
        </button>
         <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">首页</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">关于</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">联系方式</a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if g.user %}
                      <li style="color:grey"><span>{{ g.user['username'] }}</span>
                      <a class="btn btn-link" href="{{ url_for('auth.logout') }}" role="button">注销</a>
                    {% else %}
                        <div class="btn-group">
                            <a class="btn btn-primary" href="{{ url_for('auth.register') }}" role="button">注册</a>
                            <a class="btn btn-secondary" href="{{ url_for('auth.login') }}" role="button">登录</a>
                        </div>
                    {% endif %}
                </ul>
            </div>
    </nav>

    <br>
    
    <div class="container">
        <header>
          {% block header %}{% endblock %}
        </header>
        {% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}
        <hr />
        <footer>
            <p>&copy; 2020 - MR.H LAB</p>
        </footer>
    </div>
</body>                                                                                                                                                                                                                                                           ~                       
