<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"/>
    <title>Style Transfer</title>
    <link href="{{ url_for('static', filename='css/materialize.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link href="{{ url_for('static', filename='css/materialicon.css') }}" rel="stylesheet">

    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/materialize.min.js') }}"></script>
</head>
<body>
<nav class="black lighten-2" role="navigation">
    <div class="nav-wrapper container">
        <a href="{{ url_for('.index')}}" class="brand-logo">Style Transfer</a>
        <ul class="right hide-on-med-and-down">
            {% if current_user.is_authenticated %}
            <li>logged in as: {{ current_user.username }}</li>
            <li><a class="waves-effect waves-light btn" href="{{ url_for('auth.logout') }}">Logout</a></li>
            <li><a class="waves-effect waves-light btn blue" href="{{ url_for('styletransfer.result') }}">My Result</a></li>
            {% else %}
            <li><a class="waves-effect waves-light btn blue" href="{{ url_for('auth.login') }}">Login</a></li>
            <li><a class="waves-effect waves-light btn" href="{{ url_for('auth.register') }}">Register</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

{% for message in get_flashed_messages(with_categories=True) %}
    <script>M.toast({html:'{{ message[1] }}'});</script>
{% endfor %}

<main>
    {% block content %}{% endblock %}
</main>

<footer class="center">
    <small> &copy; 2020 <a class="blue-text link" href="{{ url_for('lab.index') }}" title="Written by MR.H">{{
        admin.lab_title|default('MR.H LAB')}}</a>
    </small>
</footer>

</body>
</html>
